=begin
#Rapid

#EPS Rapid V3

The version of the OpenAPI document: v3

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module ExpediaRapid
  class ContentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Amenities Reference
    # Returns a complete collection of amenities available in the Rapid API.
    # @param accept [String] Specifies the response format that the client would like to receive back. This must be &#x60;application/json&#x60;.
    # @param accept_encoding [String] Specifies the response encoding that the client would like to receive back. This must be &#x60;gzip&#x60;.
    # @param user_agent [String] The &#x60;User-Agent&#x60; header string from the customer&#39;s request, as captured by your integration. If you are building an application then the &#x60;User-Agent&#x60; value should be &#x60;{app name}/{app version}&#x60;.
    # @param language [String] Desired language for the response as a subset of BCP47 format that only uses hyphenated pairs of two-digit language and country codes. Use only ISO 639-1 alpha-2 language codes and ISO 3166-1 alpha-2 country codes. &lt;br&gt;&lt;br&gt;Reference: * [W3 Language Tags](https://www.w3.org/International/articles/language-tags/) * [Language Options](https://developers.expediagroup.com/docs/rapid/resources/reference/language-options)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_session_id Insert your own unique value for each user session, beginning with the first API call. Continue to pass the same value for each subsequent API call during the user&#39;s session, using a new value for every new customer session.&lt;br&gt; Including this value greatly eases EPS&#39;s internal debugging process for issues with partner requests, as it explicitly links together request paths for individual user&#39;s session.
    # @option opts [String] :billing_terms This parameter is to specify the terms of how a resulting booking should be billed. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :partner_point_of_sale This parameter is to specify what point of sale is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :payment_terms This parameter is to specify what terms should be used when being paid for a resulting booking. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :platform_name This parameter is to specify what platform is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @return [Hash<String, GetAmenitiesReference200ResponseValue>]
    def get_amenities_reference(accept, accept_encoding, user_agent, language, opts = {})
      data, _status_code, _headers = get_amenities_reference_with_http_info(accept, accept_encoding, user_agent, language, opts)
      data
    end

    # Amenities Reference
    # Returns a complete collection of amenities available in the Rapid API.
    # @param accept [String] Specifies the response format that the client would like to receive back. This must be &#x60;application/json&#x60;.
    # @param accept_encoding [String] Specifies the response encoding that the client would like to receive back. This must be &#x60;gzip&#x60;.
    # @param user_agent [String] The &#x60;User-Agent&#x60; header string from the customer&#39;s request, as captured by your integration. If you are building an application then the &#x60;User-Agent&#x60; value should be &#x60;{app name}/{app version}&#x60;.
    # @param language [String] Desired language for the response as a subset of BCP47 format that only uses hyphenated pairs of two-digit language and country codes. Use only ISO 639-1 alpha-2 language codes and ISO 3166-1 alpha-2 country codes. &lt;br&gt;&lt;br&gt;Reference: * [W3 Language Tags](https://www.w3.org/International/articles/language-tags/) * [Language Options](https://developers.expediagroup.com/docs/rapid/resources/reference/language-options)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_session_id Insert your own unique value for each user session, beginning with the first API call. Continue to pass the same value for each subsequent API call during the user&#39;s session, using a new value for every new customer session.&lt;br&gt; Including this value greatly eases EPS&#39;s internal debugging process for issues with partner requests, as it explicitly links together request paths for individual user&#39;s session.
    # @option opts [String] :billing_terms This parameter is to specify the terms of how a resulting booking should be billed. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :partner_point_of_sale This parameter is to specify what point of sale is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :payment_terms This parameter is to specify what terms should be used when being paid for a resulting booking. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :platform_name This parameter is to specify what platform is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @return [Array<(Hash<String, GetAmenitiesReference200ResponseValue>, Integer, Hash)>] Hash<String, GetAmenitiesReference200ResponseValue> data, response status code and response headers
    def get_amenities_reference_with_http_info(accept, accept_encoding, user_agent, language, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContentApi.get_amenities_reference ...'
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling ContentApi.get_amenities_reference"
      end
      # verify the required parameter 'accept_encoding' is set
      if @api_client.config.client_side_validation && accept_encoding.nil?
        fail ArgumentError, "Missing the required parameter 'accept_encoding' when calling ContentApi.get_amenities_reference"
      end
      # verify the required parameter 'user_agent' is set
      if @api_client.config.client_side_validation && user_agent.nil?
        fail ArgumentError, "Missing the required parameter 'user_agent' when calling ContentApi.get_amenities_reference"
      end
      # verify the required parameter 'language' is set
      if @api_client.config.client_side_validation && language.nil?
        fail ArgumentError, "Missing the required parameter 'language' when calling ContentApi.get_amenities_reference"
      end
      # resource path
      local_var_path = '/references/amenities'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'language'] = language
      query_params[:'billing_terms'] = opts[:'billing_terms'] if !opts[:'billing_terms'].nil?
      query_params[:'partner_point_of_sale'] = opts[:'partner_point_of_sale'] if !opts[:'partner_point_of_sale'].nil?
      query_params[:'payment_terms'] = opts[:'payment_terms'] if !opts[:'payment_terms'].nil?
      query_params[:'platform_name'] = opts[:'platform_name'] if !opts[:'platform_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Accept'] = accept
      header_params[:'Accept-Encoding'] = accept_encoding
      header_params[:'User-Agent'] = user_agent
      header_params[:'Customer-Session-Id'] = opts[:'customer_session_id'] if !opts[:'customer_session_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, GetAmenitiesReference200ResponseValue>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['rapidAuth']

      new_options = opts.merge(
        :operation => :"ContentApi.get_amenities_reference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContentApi#get_amenities_reference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Categories Reference
    # Returns a complete collection of categories available in the Rapid API.
    # @param accept [String] Specifies the response format that the client would like to receive back. This must be &#x60;application/json&#x60;.
    # @param accept_encoding [String] Specifies the response encoding that the client would like to receive back. This must be &#x60;gzip&#x60;.
    # @param user_agent [String] The &#x60;User-Agent&#x60; header string from the customer&#39;s request, as captured by your integration. If you are building an application then the &#x60;User-Agent&#x60; value should be &#x60;{app name}/{app version}&#x60;.
    # @param language [String] Desired language for the response as a subset of BCP47 format that only uses hyphenated pairs of two-digit language and country codes. Use only ISO 639-1 alpha-2 language codes and ISO 3166-1 alpha-2 country codes. &lt;br&gt;&lt;br&gt;Reference: * [W3 Language Tags](https://www.w3.org/International/articles/language-tags/) * [Language Options](https://developers.expediagroup.com/docs/rapid/resources/reference/language-options)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_session_id Insert your own unique value for each user session, beginning with the first API call. Continue to pass the same value for each subsequent API call during the user&#39;s session, using a new value for every new customer session.&lt;br&gt; Including this value greatly eases EPS&#39;s internal debugging process for issues with partner requests, as it explicitly links together request paths for individual user&#39;s session.
    # @option opts [String] :billing_terms This parameter is to specify the terms of how a resulting booking should be billed. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :partner_point_of_sale This parameter is to specify what point of sale is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :payment_terms This parameter is to specify what terms should be used when being paid for a resulting booking. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :platform_name This parameter is to specify what platform is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @return [Hash<String, GetPropertyContent200ResponseValueCategory>]
    def get_categories_reference(accept, accept_encoding, user_agent, language, opts = {})
      data, _status_code, _headers = get_categories_reference_with_http_info(accept, accept_encoding, user_agent, language, opts)
      data
    end

    # Categories Reference
    # Returns a complete collection of categories available in the Rapid API.
    # @param accept [String] Specifies the response format that the client would like to receive back. This must be &#x60;application/json&#x60;.
    # @param accept_encoding [String] Specifies the response encoding that the client would like to receive back. This must be &#x60;gzip&#x60;.
    # @param user_agent [String] The &#x60;User-Agent&#x60; header string from the customer&#39;s request, as captured by your integration. If you are building an application then the &#x60;User-Agent&#x60; value should be &#x60;{app name}/{app version}&#x60;.
    # @param language [String] Desired language for the response as a subset of BCP47 format that only uses hyphenated pairs of two-digit language and country codes. Use only ISO 639-1 alpha-2 language codes and ISO 3166-1 alpha-2 country codes. &lt;br&gt;&lt;br&gt;Reference: * [W3 Language Tags](https://www.w3.org/International/articles/language-tags/) * [Language Options](https://developers.expediagroup.com/docs/rapid/resources/reference/language-options)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_session_id Insert your own unique value for each user session, beginning with the first API call. Continue to pass the same value for each subsequent API call during the user&#39;s session, using a new value for every new customer session.&lt;br&gt; Including this value greatly eases EPS&#39;s internal debugging process for issues with partner requests, as it explicitly links together request paths for individual user&#39;s session.
    # @option opts [String] :billing_terms This parameter is to specify the terms of how a resulting booking should be billed. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :partner_point_of_sale This parameter is to specify what point of sale is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :payment_terms This parameter is to specify what terms should be used when being paid for a resulting booking. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :platform_name This parameter is to specify what platform is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @return [Array<(Hash<String, GetPropertyContent200ResponseValueCategory>, Integer, Hash)>] Hash<String, GetPropertyContent200ResponseValueCategory> data, response status code and response headers
    def get_categories_reference_with_http_info(accept, accept_encoding, user_agent, language, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContentApi.get_categories_reference ...'
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling ContentApi.get_categories_reference"
      end
      # verify the required parameter 'accept_encoding' is set
      if @api_client.config.client_side_validation && accept_encoding.nil?
        fail ArgumentError, "Missing the required parameter 'accept_encoding' when calling ContentApi.get_categories_reference"
      end
      # verify the required parameter 'user_agent' is set
      if @api_client.config.client_side_validation && user_agent.nil?
        fail ArgumentError, "Missing the required parameter 'user_agent' when calling ContentApi.get_categories_reference"
      end
      # verify the required parameter 'language' is set
      if @api_client.config.client_side_validation && language.nil?
        fail ArgumentError, "Missing the required parameter 'language' when calling ContentApi.get_categories_reference"
      end
      # resource path
      local_var_path = '/references/categories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'language'] = language
      query_params[:'billing_terms'] = opts[:'billing_terms'] if !opts[:'billing_terms'].nil?
      query_params[:'partner_point_of_sale'] = opts[:'partner_point_of_sale'] if !opts[:'partner_point_of_sale'].nil?
      query_params[:'payment_terms'] = opts[:'payment_terms'] if !opts[:'payment_terms'].nil?
      query_params[:'platform_name'] = opts[:'platform_name'] if !opts[:'platform_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Accept'] = accept
      header_params[:'Accept-Encoding'] = accept_encoding
      header_params[:'User-Agent'] = user_agent
      header_params[:'Customer-Session-Id'] = opts[:'customer_session_id'] if !opts[:'customer_session_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, GetPropertyContent200ResponseValueCategory>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['rapidAuth']

      new_options = opts.merge(
        :operation => :"ContentApi.get_categories_reference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContentApi#get_categories_reference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Chain Reference ***DEPRECATED***
    # ***DEPRECATED*** Please use `/references/chains` <br>Returns a complete collection of chains recognized by the Rapid API. <br>Chains represent a parent company which can have multiple brands associated with it. A brand can only be associated with one chain. For example, Hilton Worldwide is a chain that has multiple associated brands including DoubleTree, Hampton Inn and Embassy Suites. <br>The response is a JSON map where the key is the chain ID and the value is a chain object. Each chain object also contains a map of its related brands. <br>Note that the set of chain IDs and brand IDs are totally independent of one another. It is possible for a chain and a brand to both use the same number as their ID, but this is just a coincidence that holds no meaning. <br>Chain and brand names are provided in English only.
    # @param accept [String] Specifies the response format that the client would like to receive back. This must be &#x60;application/json&#x60;.
    # @param accept_encoding [String] Specifies the response encoding that the client would like to receive back. This must be &#x60;gzip&#x60;.
    # @param user_agent [String] The &#x60;User-Agent&#x60; header string from the customer&#39;s request, as captured by your integration. If you are building an application then the &#x60;User-Agent&#x60; value should be &#x60;{app name}/{app version}&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_session_id Insert your own unique value for each user session, beginning with the first API call. Continue to pass the same value for each subsequent API call during the user&#39;s session, using a new value for every new customer session.&lt;br&gt; Including this value greatly eases EPS&#39;s internal debugging process for issues with partner requests, as it explicitly links together request paths for individual user&#39;s session.
    # @option opts [String] :billing_terms This parameter is to specify the terms of how a resulting booking should be billed. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :partner_point_of_sale This parameter is to specify what point of sale is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :payment_terms This parameter is to specify what terms should be used when being paid for a resulting booking. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :platform_name This parameter is to specify what platform is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @return [Hash<String, GetPropertyContent200ResponseValueChain>]
    def get_chain_reference(accept, accept_encoding, user_agent, opts = {})
      data, _status_code, _headers = get_chain_reference_with_http_info(accept, accept_encoding, user_agent, opts)
      data
    end

    # Chain Reference ***DEPRECATED***
    # ***DEPRECATED*** Please use &#x60;/references/chains&#x60; &lt;br&gt;Returns a complete collection of chains recognized by the Rapid API. &lt;br&gt;Chains represent a parent company which can have multiple brands associated with it. A brand can only be associated with one chain. For example, Hilton Worldwide is a chain that has multiple associated brands including DoubleTree, Hampton Inn and Embassy Suites. &lt;br&gt;The response is a JSON map where the key is the chain ID and the value is a chain object. Each chain object also contains a map of its related brands. &lt;br&gt;Note that the set of chain IDs and brand IDs are totally independent of one another. It is possible for a chain and a brand to both use the same number as their ID, but this is just a coincidence that holds no meaning. &lt;br&gt;Chain and brand names are provided in English only.
    # @param accept [String] Specifies the response format that the client would like to receive back. This must be &#x60;application/json&#x60;.
    # @param accept_encoding [String] Specifies the response encoding that the client would like to receive back. This must be &#x60;gzip&#x60;.
    # @param user_agent [String] The &#x60;User-Agent&#x60; header string from the customer&#39;s request, as captured by your integration. If you are building an application then the &#x60;User-Agent&#x60; value should be &#x60;{app name}/{app version}&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_session_id Insert your own unique value for each user session, beginning with the first API call. Continue to pass the same value for each subsequent API call during the user&#39;s session, using a new value for every new customer session.&lt;br&gt; Including this value greatly eases EPS&#39;s internal debugging process for issues with partner requests, as it explicitly links together request paths for individual user&#39;s session.
    # @option opts [String] :billing_terms This parameter is to specify the terms of how a resulting booking should be billed. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :partner_point_of_sale This parameter is to specify what point of sale is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :payment_terms This parameter is to specify what terms should be used when being paid for a resulting booking. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :platform_name This parameter is to specify what platform is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @return [Array<(Hash<String, GetPropertyContent200ResponseValueChain>, Integer, Hash)>] Hash<String, GetPropertyContent200ResponseValueChain> data, response status code and response headers
    def get_chain_reference_with_http_info(accept, accept_encoding, user_agent, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContentApi.get_chain_reference ...'
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling ContentApi.get_chain_reference"
      end
      # verify the required parameter 'accept_encoding' is set
      if @api_client.config.client_side_validation && accept_encoding.nil?
        fail ArgumentError, "Missing the required parameter 'accept_encoding' when calling ContentApi.get_chain_reference"
      end
      # verify the required parameter 'user_agent' is set
      if @api_client.config.client_side_validation && user_agent.nil?
        fail ArgumentError, "Missing the required parameter 'user_agent' when calling ContentApi.get_chain_reference"
      end
      # resource path
      local_var_path = '/chains'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'billing_terms'] = opts[:'billing_terms'] if !opts[:'billing_terms'].nil?
      query_params[:'partner_point_of_sale'] = opts[:'partner_point_of_sale'] if !opts[:'partner_point_of_sale'].nil?
      query_params[:'payment_terms'] = opts[:'payment_terms'] if !opts[:'payment_terms'].nil?
      query_params[:'platform_name'] = opts[:'platform_name'] if !opts[:'platform_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Accept'] = accept
      header_params[:'Accept-Encoding'] = accept_encoding
      header_params[:'User-Agent'] = user_agent
      header_params[:'Customer-Session-Id'] = opts[:'customer_session_id'] if !opts[:'customer_session_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, GetPropertyContent200ResponseValueChain>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['rapidAuth']

      new_options = opts.merge(
        :operation => :"ContentApi.get_chain_reference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContentApi#get_chain_reference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Chains Reference
    # Returns a complete collection of chains recognized by the Rapid API. <br>Chains represent a parent company which can have multiple brands associated with it. A brand can only be associated with one chain. For example, Hilton Worldwide is a chain that has multiple associated brands including DoubleTree, Hampton Inn and Embassy Suites. <br>The response is a JSON map where the key is the chain ID and the value is a chain object. Each chain object also contains a map of its related brands. <br>Note that the set of chain IDs and brand IDs are totally independent of one another. It is possible for a chain and a brand to both use the same number as their ID, but this is just a coincidence that holds no meaning. <br>Chain and brand names are provided in English only.
    # @param accept [String] Specifies the response format that the client would like to receive back. This must be &#x60;application/json&#x60;.
    # @param accept_encoding [String] Specifies the response encoding that the client would like to receive back. This must be &#x60;gzip&#x60;.
    # @param user_agent [String] The &#x60;User-Agent&#x60; header string from the customer&#39;s request, as captured by your integration. If you are building an application then the &#x60;User-Agent&#x60; value should be &#x60;{app name}/{app version}&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_session_id Insert your own unique value for each user session, beginning with the first API call. Continue to pass the same value for each subsequent API call during the user&#39;s session, using a new value for every new customer session.&lt;br&gt; Including this value greatly eases EPS&#39;s internal debugging process for issues with partner requests, as it explicitly links together request paths for individual user&#39;s session.
    # @option opts [String] :billing_terms This parameter is to specify the terms of how a resulting booking should be billed. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :partner_point_of_sale This parameter is to specify what point of sale is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :payment_terms This parameter is to specify what terms should be used when being paid for a resulting booking. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :platform_name This parameter is to specify what platform is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @return [Hash<String, GetPropertyContent200ResponseValueChain>]
    def get_chains_reference(accept, accept_encoding, user_agent, opts = {})
      data, _status_code, _headers = get_chains_reference_with_http_info(accept, accept_encoding, user_agent, opts)
      data
    end

    # Chains Reference
    # Returns a complete collection of chains recognized by the Rapid API. &lt;br&gt;Chains represent a parent company which can have multiple brands associated with it. A brand can only be associated with one chain. For example, Hilton Worldwide is a chain that has multiple associated brands including DoubleTree, Hampton Inn and Embassy Suites. &lt;br&gt;The response is a JSON map where the key is the chain ID and the value is a chain object. Each chain object also contains a map of its related brands. &lt;br&gt;Note that the set of chain IDs and brand IDs are totally independent of one another. It is possible for a chain and a brand to both use the same number as their ID, but this is just a coincidence that holds no meaning. &lt;br&gt;Chain and brand names are provided in English only.
    # @param accept [String] Specifies the response format that the client would like to receive back. This must be &#x60;application/json&#x60;.
    # @param accept_encoding [String] Specifies the response encoding that the client would like to receive back. This must be &#x60;gzip&#x60;.
    # @param user_agent [String] The &#x60;User-Agent&#x60; header string from the customer&#39;s request, as captured by your integration. If you are building an application then the &#x60;User-Agent&#x60; value should be &#x60;{app name}/{app version}&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_session_id Insert your own unique value for each user session, beginning with the first API call. Continue to pass the same value for each subsequent API call during the user&#39;s session, using a new value for every new customer session.&lt;br&gt; Including this value greatly eases EPS&#39;s internal debugging process for issues with partner requests, as it explicitly links together request paths for individual user&#39;s session.
    # @option opts [String] :billing_terms This parameter is to specify the terms of how a resulting booking should be billed. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :partner_point_of_sale This parameter is to specify what point of sale is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :payment_terms This parameter is to specify what terms should be used when being paid for a resulting booking. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :platform_name This parameter is to specify what platform is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @return [Array<(Hash<String, GetPropertyContent200ResponseValueChain>, Integer, Hash)>] Hash<String, GetPropertyContent200ResponseValueChain> data, response status code and response headers
    def get_chains_reference_with_http_info(accept, accept_encoding, user_agent, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContentApi.get_chains_reference ...'
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling ContentApi.get_chains_reference"
      end
      # verify the required parameter 'accept_encoding' is set
      if @api_client.config.client_side_validation && accept_encoding.nil?
        fail ArgumentError, "Missing the required parameter 'accept_encoding' when calling ContentApi.get_chains_reference"
      end
      # verify the required parameter 'user_agent' is set
      if @api_client.config.client_side_validation && user_agent.nil?
        fail ArgumentError, "Missing the required parameter 'user_agent' when calling ContentApi.get_chains_reference"
      end
      # resource path
      local_var_path = '/references/chains'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'billing_terms'] = opts[:'billing_terms'] if !opts[:'billing_terms'].nil?
      query_params[:'partner_point_of_sale'] = opts[:'partner_point_of_sale'] if !opts[:'partner_point_of_sale'].nil?
      query_params[:'payment_terms'] = opts[:'payment_terms'] if !opts[:'payment_terms'].nil?
      query_params[:'platform_name'] = opts[:'platform_name'] if !opts[:'platform_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Accept'] = accept
      header_params[:'Accept-Encoding'] = accept_encoding
      header_params[:'User-Agent'] = user_agent
      header_params[:'Customer-Session-Id'] = opts[:'customer_session_id'] if !opts[:'customer_session_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, GetPropertyContent200ResponseValueChain>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['rapidAuth']

      new_options = opts.merge(
        :operation => :"ContentApi.get_chains_reference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContentApi#get_chains_reference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # General Attributes Reference
    # Returns a complete collection of general attributes available in the Rapid API.
    # @param accept [String] Specifies the response format that the client would like to receive back. This must be &#x60;application/json&#x60;.
    # @param accept_encoding [String] Specifies the response encoding that the client would like to receive back. This must be &#x60;gzip&#x60;.
    # @param user_agent [String] The &#x60;User-Agent&#x60; header string from the customer&#39;s request, as captured by your integration. If you are building an application then the &#x60;User-Agent&#x60; value should be &#x60;{app name}/{app version}&#x60;.
    # @param language [String] Desired language for the response as a subset of BCP47 format that only uses hyphenated pairs of two-digit language and country codes. Use only ISO 639-1 alpha-2 language codes and ISO 3166-1 alpha-2 country codes. &lt;br&gt;&lt;br&gt;Reference: * [W3 Language Tags](https://www.w3.org/International/articles/language-tags/) * [Language Options](https://developers.expediagroup.com/docs/rapid/resources/reference/language-options)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_session_id Insert your own unique value for each user session, beginning with the first API call. Continue to pass the same value for each subsequent API call during the user&#39;s session, using a new value for every new customer session.&lt;br&gt; Including this value greatly eases EPS&#39;s internal debugging process for issues with partner requests, as it explicitly links together request paths for individual user&#39;s session.
    # @option opts [String] :billing_terms This parameter is to specify the terms of how a resulting booking should be billed. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :partner_point_of_sale This parameter is to specify what point of sale is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :payment_terms This parameter is to specify what terms should be used when being paid for a resulting booking. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :platform_name This parameter is to specify what platform is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @return [Hash<String, GetGeneralAttributesReference200ResponseValue>]
    def get_general_attributes_reference(accept, accept_encoding, user_agent, language, opts = {})
      data, _status_code, _headers = get_general_attributes_reference_with_http_info(accept, accept_encoding, user_agent, language, opts)
      data
    end

    # General Attributes Reference
    # Returns a complete collection of general attributes available in the Rapid API.
    # @param accept [String] Specifies the response format that the client would like to receive back. This must be &#x60;application/json&#x60;.
    # @param accept_encoding [String] Specifies the response encoding that the client would like to receive back. This must be &#x60;gzip&#x60;.
    # @param user_agent [String] The &#x60;User-Agent&#x60; header string from the customer&#39;s request, as captured by your integration. If you are building an application then the &#x60;User-Agent&#x60; value should be &#x60;{app name}/{app version}&#x60;.
    # @param language [String] Desired language for the response as a subset of BCP47 format that only uses hyphenated pairs of two-digit language and country codes. Use only ISO 639-1 alpha-2 language codes and ISO 3166-1 alpha-2 country codes. &lt;br&gt;&lt;br&gt;Reference: * [W3 Language Tags](https://www.w3.org/International/articles/language-tags/) * [Language Options](https://developers.expediagroup.com/docs/rapid/resources/reference/language-options)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_session_id Insert your own unique value for each user session, beginning with the first API call. Continue to pass the same value for each subsequent API call during the user&#39;s session, using a new value for every new customer session.&lt;br&gt; Including this value greatly eases EPS&#39;s internal debugging process for issues with partner requests, as it explicitly links together request paths for individual user&#39;s session.
    # @option opts [String] :billing_terms This parameter is to specify the terms of how a resulting booking should be billed. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :partner_point_of_sale This parameter is to specify what point of sale is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :payment_terms This parameter is to specify what terms should be used when being paid for a resulting booking. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :platform_name This parameter is to specify what platform is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @return [Array<(Hash<String, GetGeneralAttributesReference200ResponseValue>, Integer, Hash)>] Hash<String, GetGeneralAttributesReference200ResponseValue> data, response status code and response headers
    def get_general_attributes_reference_with_http_info(accept, accept_encoding, user_agent, language, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContentApi.get_general_attributes_reference ...'
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling ContentApi.get_general_attributes_reference"
      end
      # verify the required parameter 'accept_encoding' is set
      if @api_client.config.client_side_validation && accept_encoding.nil?
        fail ArgumentError, "Missing the required parameter 'accept_encoding' when calling ContentApi.get_general_attributes_reference"
      end
      # verify the required parameter 'user_agent' is set
      if @api_client.config.client_side_validation && user_agent.nil?
        fail ArgumentError, "Missing the required parameter 'user_agent' when calling ContentApi.get_general_attributes_reference"
      end
      # verify the required parameter 'language' is set
      if @api_client.config.client_side_validation && language.nil?
        fail ArgumentError, "Missing the required parameter 'language' when calling ContentApi.get_general_attributes_reference"
      end
      # resource path
      local_var_path = '/references/general-attributes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'language'] = language
      query_params[:'billing_terms'] = opts[:'billing_terms'] if !opts[:'billing_terms'].nil?
      query_params[:'partner_point_of_sale'] = opts[:'partner_point_of_sale'] if !opts[:'partner_point_of_sale'].nil?
      query_params[:'payment_terms'] = opts[:'payment_terms'] if !opts[:'payment_terms'].nil?
      query_params[:'platform_name'] = opts[:'platform_name'] if !opts[:'platform_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Accept'] = accept
      header_params[:'Accept-Encoding'] = accept_encoding
      header_params[:'User-Agent'] = user_agent
      header_params[:'Customer-Session-Id'] = opts[:'customer_session_id'] if !opts[:'customer_session_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, GetGeneralAttributesReference200ResponseValue>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['rapidAuth']

      new_options = opts.merge(
        :operation => :"ContentApi.get_general_attributes_reference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContentApi#get_general_attributes_reference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Images Reference
    # Returns a complete collection of images available in the Rapid API.
    # @param accept [String] Specifies the response format that the client would like to receive back. This must be &#x60;application/json&#x60;.
    # @param accept_encoding [String] Specifies the response encoding that the client would like to receive back. This must be &#x60;gzip&#x60;.
    # @param user_agent [String] The &#x60;User-Agent&#x60; header string from the customer&#39;s request, as captured by your integration. If you are building an application then the &#x60;User-Agent&#x60; value should be &#x60;{app name}/{app version}&#x60;.
    # @param language [String] Desired language for the response as a subset of BCP47 format that only uses hyphenated pairs of two-digit language and country codes. Use only ISO 639-1 alpha-2 language codes and ISO 3166-1 alpha-2 country codes. &lt;br&gt;&lt;br&gt;Reference: * [W3 Language Tags](https://www.w3.org/International/articles/language-tags/) * [Language Options](https://developers.expediagroup.com/docs/rapid/resources/reference/language-options)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_session_id Insert your own unique value for each user session, beginning with the first API call. Continue to pass the same value for each subsequent API call during the user&#39;s session, using a new value for every new customer session.&lt;br&gt; Including this value greatly eases EPS&#39;s internal debugging process for issues with partner requests, as it explicitly links together request paths for individual user&#39;s session.
    # @option opts [String] :billing_terms This parameter is to specify the terms of how a resulting booking should be billed. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :partner_point_of_sale This parameter is to specify what point of sale is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :payment_terms This parameter is to specify what terms should be used when being paid for a resulting booking. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :platform_name This parameter is to specify what platform is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @return [Hash<String, GetImagesReference200ResponseValue>]
    def get_images_reference(accept, accept_encoding, user_agent, language, opts = {})
      data, _status_code, _headers = get_images_reference_with_http_info(accept, accept_encoding, user_agent, language, opts)
      data
    end

    # Images Reference
    # Returns a complete collection of images available in the Rapid API.
    # @param accept [String] Specifies the response format that the client would like to receive back. This must be &#x60;application/json&#x60;.
    # @param accept_encoding [String] Specifies the response encoding that the client would like to receive back. This must be &#x60;gzip&#x60;.
    # @param user_agent [String] The &#x60;User-Agent&#x60; header string from the customer&#39;s request, as captured by your integration. If you are building an application then the &#x60;User-Agent&#x60; value should be &#x60;{app name}/{app version}&#x60;.
    # @param language [String] Desired language for the response as a subset of BCP47 format that only uses hyphenated pairs of two-digit language and country codes. Use only ISO 639-1 alpha-2 language codes and ISO 3166-1 alpha-2 country codes. &lt;br&gt;&lt;br&gt;Reference: * [W3 Language Tags](https://www.w3.org/International/articles/language-tags/) * [Language Options](https://developers.expediagroup.com/docs/rapid/resources/reference/language-options)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_session_id Insert your own unique value for each user session, beginning with the first API call. Continue to pass the same value for each subsequent API call during the user&#39;s session, using a new value for every new customer session.&lt;br&gt; Including this value greatly eases EPS&#39;s internal debugging process for issues with partner requests, as it explicitly links together request paths for individual user&#39;s session.
    # @option opts [String] :billing_terms This parameter is to specify the terms of how a resulting booking should be billed. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :partner_point_of_sale This parameter is to specify what point of sale is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :payment_terms This parameter is to specify what terms should be used when being paid for a resulting booking. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :platform_name This parameter is to specify what platform is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @return [Array<(Hash<String, GetImagesReference200ResponseValue>, Integer, Hash)>] Hash<String, GetImagesReference200ResponseValue> data, response status code and response headers
    def get_images_reference_with_http_info(accept, accept_encoding, user_agent, language, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContentApi.get_images_reference ...'
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling ContentApi.get_images_reference"
      end
      # verify the required parameter 'accept_encoding' is set
      if @api_client.config.client_side_validation && accept_encoding.nil?
        fail ArgumentError, "Missing the required parameter 'accept_encoding' when calling ContentApi.get_images_reference"
      end
      # verify the required parameter 'user_agent' is set
      if @api_client.config.client_side_validation && user_agent.nil?
        fail ArgumentError, "Missing the required parameter 'user_agent' when calling ContentApi.get_images_reference"
      end
      # verify the required parameter 'language' is set
      if @api_client.config.client_side_validation && language.nil?
        fail ArgumentError, "Missing the required parameter 'language' when calling ContentApi.get_images_reference"
      end
      # resource path
      local_var_path = '/references/images'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'language'] = language
      query_params[:'billing_terms'] = opts[:'billing_terms'] if !opts[:'billing_terms'].nil?
      query_params[:'partner_point_of_sale'] = opts[:'partner_point_of_sale'] if !opts[:'partner_point_of_sale'].nil?
      query_params[:'payment_terms'] = opts[:'payment_terms'] if !opts[:'payment_terms'].nil?
      query_params[:'platform_name'] = opts[:'platform_name'] if !opts[:'platform_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Accept'] = accept
      header_params[:'Accept-Encoding'] = accept_encoding
      header_params[:'User-Agent'] = user_agent
      header_params[:'Customer-Session-Id'] = opts[:'customer_session_id'] if !opts[:'customer_session_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, GetImagesReference200ResponseValue>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['rapidAuth']

      new_options = opts.merge(
        :operation => :"ContentApi.get_images_reference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContentApi#get_images_reference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Inactive Properties
    # Request a list of properties that are inactive because they have been removed from sale since a specified date.<br><br> When there are a large number of properties in the response, it will be paginated. See the `Link` header in the 200 response section.
    # @param accept [String] Specifies the response format that the client would like to receive back. This must be &#x60;application/json&#x60;.
    # @param accept_encoding [String] Specifies the response encoding that the client would like to receive back. This must be &#x60;gzip&#x60;.
    # @param user_agent [String] The &#x60;User-Agent&#x60; header string from the customer&#39;s request, as captured by your integration. If you are building an application then the &#x60;User-Agent&#x60; value should be &#x60;{app name}/{app version}&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_session_id Insert your own unique value for each user session, beginning with the first API call. Continue to pass the same value for each subsequent API call during the user&#39;s session, using a new value for every new customer session.&lt;br&gt; Including this value greatly eases EPS&#39;s internal debugging process for issues with partner requests, as it explicitly links together request paths for individual user&#39;s session.
    # @option opts [String] :since Required on initial call, not accepted on subsequent paging links provided in response header.&lt;br&gt; The earliest date that a property became inactive to include in the results. ISO 8601 format (YYYY-MM-DD)
    # @option opts [String] :token Only used for requesting additional pages of data. Provided by the &#x60;next&#x60; URL in the &#x60;Link&#x60; response header.
    # @option opts [String] :billing_terms This parameter is to specify the terms of how a resulting booking should be billed. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :partner_point_of_sale This parameter is to specify what point of sale is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :payment_terms This parameter is to specify what terms should be used when being paid for a resulting booking. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :platform_name This parameter is to specify what platform is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @return [Array<GetInactiveProperties200ResponseInner>]
    def get_inactive_properties(accept, accept_encoding, user_agent, opts = {})
      data, _status_code, _headers = get_inactive_properties_with_http_info(accept, accept_encoding, user_agent, opts)
      data
    end

    # Inactive Properties
    # Request a list of properties that are inactive because they have been removed from sale since a specified date.&lt;br&gt;&lt;br&gt; When there are a large number of properties in the response, it will be paginated. See the &#x60;Link&#x60; header in the 200 response section.
    # @param accept [String] Specifies the response format that the client would like to receive back. This must be &#x60;application/json&#x60;.
    # @param accept_encoding [String] Specifies the response encoding that the client would like to receive back. This must be &#x60;gzip&#x60;.
    # @param user_agent [String] The &#x60;User-Agent&#x60; header string from the customer&#39;s request, as captured by your integration. If you are building an application then the &#x60;User-Agent&#x60; value should be &#x60;{app name}/{app version}&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_session_id Insert your own unique value for each user session, beginning with the first API call. Continue to pass the same value for each subsequent API call during the user&#39;s session, using a new value for every new customer session.&lt;br&gt; Including this value greatly eases EPS&#39;s internal debugging process for issues with partner requests, as it explicitly links together request paths for individual user&#39;s session.
    # @option opts [String] :since Required on initial call, not accepted on subsequent paging links provided in response header.&lt;br&gt; The earliest date that a property became inactive to include in the results. ISO 8601 format (YYYY-MM-DD)
    # @option opts [String] :token Only used for requesting additional pages of data. Provided by the &#x60;next&#x60; URL in the &#x60;Link&#x60; response header.
    # @option opts [String] :billing_terms This parameter is to specify the terms of how a resulting booking should be billed. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :partner_point_of_sale This parameter is to specify what point of sale is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :payment_terms This parameter is to specify what terms should be used when being paid for a resulting booking. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :platform_name This parameter is to specify what platform is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @return [Array<(Array<GetInactiveProperties200ResponseInner>, Integer, Hash)>] Array<GetInactiveProperties200ResponseInner> data, response status code and response headers
    def get_inactive_properties_with_http_info(accept, accept_encoding, user_agent, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContentApi.get_inactive_properties ...'
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling ContentApi.get_inactive_properties"
      end
      # verify the required parameter 'accept_encoding' is set
      if @api_client.config.client_side_validation && accept_encoding.nil?
        fail ArgumentError, "Missing the required parameter 'accept_encoding' when calling ContentApi.get_inactive_properties"
      end
      # verify the required parameter 'user_agent' is set
      if @api_client.config.client_side_validation && user_agent.nil?
        fail ArgumentError, "Missing the required parameter 'user_agent' when calling ContentApi.get_inactive_properties"
      end
      # resource path
      local_var_path = '/properties/inactive'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'token'] = opts[:'token'] if !opts[:'token'].nil?
      query_params[:'billing_terms'] = opts[:'billing_terms'] if !opts[:'billing_terms'].nil?
      query_params[:'partner_point_of_sale'] = opts[:'partner_point_of_sale'] if !opts[:'partner_point_of_sale'].nil?
      query_params[:'payment_terms'] = opts[:'payment_terms'] if !opts[:'payment_terms'].nil?
      query_params[:'platform_name'] = opts[:'platform_name'] if !opts[:'platform_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Accept'] = accept
      header_params[:'Accept-Encoding'] = accept_encoding
      header_params[:'User-Agent'] = user_agent
      header_params[:'Customer-Session-Id'] = opts[:'customer_session_id'] if !opts[:'customer_session_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<GetInactiveProperties200ResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['rapidAuth']

      new_options = opts.merge(
        :operation => :"ContentApi.get_inactive_properties",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContentApi#get_inactive_properties\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Onsite Payment Types Reference
    # Returns a complete collection of onsite payment types available in the Rapid API.
    # @param accept [String] Specifies the response format that the client would like to receive back. This must be &#x60;application/json&#x60;.
    # @param accept_encoding [String] Specifies the response encoding that the client would like to receive back. This must be &#x60;gzip&#x60;.
    # @param user_agent [String] The &#x60;User-Agent&#x60; header string from the customer&#39;s request, as captured by your integration. If you are building an application then the &#x60;User-Agent&#x60; value should be &#x60;{app name}/{app version}&#x60;.
    # @param language [String] Desired language for the response as a subset of BCP47 format that only uses hyphenated pairs of two-digit language and country codes. Use only ISO 639-1 alpha-2 language codes and ISO 3166-1 alpha-2 country codes. &lt;br&gt;&lt;br&gt;Reference: * [W3 Language Tags](https://www.w3.org/International/articles/language-tags/) * [Language Options](https://developers.expediagroup.com/docs/rapid/resources/reference/language-options)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_session_id Insert your own unique value for each user session, beginning with the first API call. Continue to pass the same value for each subsequent API call during the user&#39;s session, using a new value for every new customer session.&lt;br&gt; Including this value greatly eases EPS&#39;s internal debugging process for issues with partner requests, as it explicitly links together request paths for individual user&#39;s session.
    # @option opts [String] :billing_terms This parameter is to specify the terms of how a resulting booking should be billed. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :partner_point_of_sale This parameter is to specify what point of sale is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :payment_terms This parameter is to specify what terms should be used when being paid for a resulting booking. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :platform_name This parameter is to specify what platform is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @return [Hash<String, GetPropertyContent200ResponseValueOnsitePaymentsTypesValue>]
    def get_onsite_payment_types_reference(accept, accept_encoding, user_agent, language, opts = {})
      data, _status_code, _headers = get_onsite_payment_types_reference_with_http_info(accept, accept_encoding, user_agent, language, opts)
      data
    end

    # Onsite Payment Types Reference
    # Returns a complete collection of onsite payment types available in the Rapid API.
    # @param accept [String] Specifies the response format that the client would like to receive back. This must be &#x60;application/json&#x60;.
    # @param accept_encoding [String] Specifies the response encoding that the client would like to receive back. This must be &#x60;gzip&#x60;.
    # @param user_agent [String] The &#x60;User-Agent&#x60; header string from the customer&#39;s request, as captured by your integration. If you are building an application then the &#x60;User-Agent&#x60; value should be &#x60;{app name}/{app version}&#x60;.
    # @param language [String] Desired language for the response as a subset of BCP47 format that only uses hyphenated pairs of two-digit language and country codes. Use only ISO 639-1 alpha-2 language codes and ISO 3166-1 alpha-2 country codes. &lt;br&gt;&lt;br&gt;Reference: * [W3 Language Tags](https://www.w3.org/International/articles/language-tags/) * [Language Options](https://developers.expediagroup.com/docs/rapid/resources/reference/language-options)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_session_id Insert your own unique value for each user session, beginning with the first API call. Continue to pass the same value for each subsequent API call during the user&#39;s session, using a new value for every new customer session.&lt;br&gt; Including this value greatly eases EPS&#39;s internal debugging process for issues with partner requests, as it explicitly links together request paths for individual user&#39;s session.
    # @option opts [String] :billing_terms This parameter is to specify the terms of how a resulting booking should be billed. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :partner_point_of_sale This parameter is to specify what point of sale is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :payment_terms This parameter is to specify what terms should be used when being paid for a resulting booking. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :platform_name This parameter is to specify what platform is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @return [Array<(Hash<String, GetPropertyContent200ResponseValueOnsitePaymentsTypesValue>, Integer, Hash)>] Hash<String, GetPropertyContent200ResponseValueOnsitePaymentsTypesValue> data, response status code and response headers
    def get_onsite_payment_types_reference_with_http_info(accept, accept_encoding, user_agent, language, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContentApi.get_onsite_payment_types_reference ...'
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling ContentApi.get_onsite_payment_types_reference"
      end
      # verify the required parameter 'accept_encoding' is set
      if @api_client.config.client_side_validation && accept_encoding.nil?
        fail ArgumentError, "Missing the required parameter 'accept_encoding' when calling ContentApi.get_onsite_payment_types_reference"
      end
      # verify the required parameter 'user_agent' is set
      if @api_client.config.client_side_validation && user_agent.nil?
        fail ArgumentError, "Missing the required parameter 'user_agent' when calling ContentApi.get_onsite_payment_types_reference"
      end
      # verify the required parameter 'language' is set
      if @api_client.config.client_side_validation && language.nil?
        fail ArgumentError, "Missing the required parameter 'language' when calling ContentApi.get_onsite_payment_types_reference"
      end
      # resource path
      local_var_path = '/references/onsite-payment-types'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'language'] = language
      query_params[:'billing_terms'] = opts[:'billing_terms'] if !opts[:'billing_terms'].nil?
      query_params[:'partner_point_of_sale'] = opts[:'partner_point_of_sale'] if !opts[:'partner_point_of_sale'].nil?
      query_params[:'payment_terms'] = opts[:'payment_terms'] if !opts[:'payment_terms'].nil?
      query_params[:'platform_name'] = opts[:'platform_name'] if !opts[:'platform_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Accept'] = accept
      header_params[:'Accept-Encoding'] = accept_encoding
      header_params[:'User-Agent'] = user_agent
      header_params[:'Customer-Session-Id'] = opts[:'customer_session_id'] if !opts[:'customer_session_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, GetPropertyContent200ResponseValueOnsitePaymentsTypesValue>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['rapidAuth']

      new_options = opts.merge(
        :operation => :"ContentApi.get_onsite_payment_types_reference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContentApi#get_onsite_payment_types_reference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Pet Attributes Reference
    # Returns a complete collection of pet attributes available in the Rapid API.
    # @param accept [String] Specifies the response format that the client would like to receive back. This must be &#x60;application/json&#x60;.
    # @param accept_encoding [String] Specifies the response encoding that the client would like to receive back. This must be &#x60;gzip&#x60;.
    # @param user_agent [String] The &#x60;User-Agent&#x60; header string from the customer&#39;s request, as captured by your integration. If you are building an application then the &#x60;User-Agent&#x60; value should be &#x60;{app name}/{app version}&#x60;.
    # @param language [String] Desired language for the response as a subset of BCP47 format that only uses hyphenated pairs of two-digit language and country codes. Use only ISO 639-1 alpha-2 language codes and ISO 3166-1 alpha-2 country codes. &lt;br&gt;&lt;br&gt;Reference: * [W3 Language Tags](https://www.w3.org/International/articles/language-tags/) * [Language Options](https://developers.expediagroup.com/docs/rapid/resources/reference/language-options)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_session_id Insert your own unique value for each user session, beginning with the first API call. Continue to pass the same value for each subsequent API call during the user&#39;s session, using a new value for every new customer session.&lt;br&gt; Including this value greatly eases EPS&#39;s internal debugging process for issues with partner requests, as it explicitly links together request paths for individual user&#39;s session.
    # @option opts [String] :billing_terms This parameter is to specify the terms of how a resulting booking should be billed. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :partner_point_of_sale This parameter is to specify what point of sale is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :payment_terms This parameter is to specify what terms should be used when being paid for a resulting booking. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :platform_name This parameter is to specify what platform is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @return [Hash<String, GetGeneralAttributesReference200ResponseValue>]
    def get_pet_attributes_reference(accept, accept_encoding, user_agent, language, opts = {})
      data, _status_code, _headers = get_pet_attributes_reference_with_http_info(accept, accept_encoding, user_agent, language, opts)
      data
    end

    # Pet Attributes Reference
    # Returns a complete collection of pet attributes available in the Rapid API.
    # @param accept [String] Specifies the response format that the client would like to receive back. This must be &#x60;application/json&#x60;.
    # @param accept_encoding [String] Specifies the response encoding that the client would like to receive back. This must be &#x60;gzip&#x60;.
    # @param user_agent [String] The &#x60;User-Agent&#x60; header string from the customer&#39;s request, as captured by your integration. If you are building an application then the &#x60;User-Agent&#x60; value should be &#x60;{app name}/{app version}&#x60;.
    # @param language [String] Desired language for the response as a subset of BCP47 format that only uses hyphenated pairs of two-digit language and country codes. Use only ISO 639-1 alpha-2 language codes and ISO 3166-1 alpha-2 country codes. &lt;br&gt;&lt;br&gt;Reference: * [W3 Language Tags](https://www.w3.org/International/articles/language-tags/) * [Language Options](https://developers.expediagroup.com/docs/rapid/resources/reference/language-options)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_session_id Insert your own unique value for each user session, beginning with the first API call. Continue to pass the same value for each subsequent API call during the user&#39;s session, using a new value for every new customer session.&lt;br&gt; Including this value greatly eases EPS&#39;s internal debugging process for issues with partner requests, as it explicitly links together request paths for individual user&#39;s session.
    # @option opts [String] :billing_terms This parameter is to specify the terms of how a resulting booking should be billed. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :partner_point_of_sale This parameter is to specify what point of sale is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :payment_terms This parameter is to specify what terms should be used when being paid for a resulting booking. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :platform_name This parameter is to specify what platform is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @return [Array<(Hash<String, GetGeneralAttributesReference200ResponseValue>, Integer, Hash)>] Hash<String, GetGeneralAttributesReference200ResponseValue> data, response status code and response headers
    def get_pet_attributes_reference_with_http_info(accept, accept_encoding, user_agent, language, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContentApi.get_pet_attributes_reference ...'
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling ContentApi.get_pet_attributes_reference"
      end
      # verify the required parameter 'accept_encoding' is set
      if @api_client.config.client_side_validation && accept_encoding.nil?
        fail ArgumentError, "Missing the required parameter 'accept_encoding' when calling ContentApi.get_pet_attributes_reference"
      end
      # verify the required parameter 'user_agent' is set
      if @api_client.config.client_side_validation && user_agent.nil?
        fail ArgumentError, "Missing the required parameter 'user_agent' when calling ContentApi.get_pet_attributes_reference"
      end
      # verify the required parameter 'language' is set
      if @api_client.config.client_side_validation && language.nil?
        fail ArgumentError, "Missing the required parameter 'language' when calling ContentApi.get_pet_attributes_reference"
      end
      # resource path
      local_var_path = '/references/pet-attributes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'language'] = language
      query_params[:'billing_terms'] = opts[:'billing_terms'] if !opts[:'billing_terms'].nil?
      query_params[:'partner_point_of_sale'] = opts[:'partner_point_of_sale'] if !opts[:'partner_point_of_sale'].nil?
      query_params[:'payment_terms'] = opts[:'payment_terms'] if !opts[:'payment_terms'].nil?
      query_params[:'platform_name'] = opts[:'platform_name'] if !opts[:'platform_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Accept'] = accept
      header_params[:'Accept-Encoding'] = accept_encoding
      header_params[:'User-Agent'] = user_agent
      header_params[:'Customer-Session-Id'] = opts[:'customer_session_id'] if !opts[:'customer_session_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, GetGeneralAttributesReference200ResponseValue>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['rapidAuth']

      new_options = opts.merge(
        :operation => :"ContentApi.get_pet_attributes_reference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContentApi#get_pet_attributes_reference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Property Catalog File
    # Returns a link to download the master list of EPS's active properties in the requested language. The response includes high-level details about each property.  <br>This file is in JSONL format and is gzipped. The schema of each JSON object in the JSONL file is a subset of the schema of each JSON object from the Property Content call. The subset of fields included are:    * property_id   * name   * address   * ratings   * location   * phone   * fax   * category   * rank   * business_model   * dates   * statistics   * chain   * brand   * supply_source  <br>Example of a JSONL file with 2 properties: ``` {\"property_id\":\"12345\",\"name\":\"Test Property Name\",\"address\":{\"line_1\":\"123 Main St\",\"line_2\":\"Apt A\",\"city\":\"Springfield\",\"state_province_code\":\"MO\",\"state_province_name\":\"Missouri\",\"postal_code\":\"65804\",\"country_code\":\"US\",\"obfuscation_required\":false,\"localized\":{\"links\":{\"es-ES\":{\"method\":\"GET\",\"href\":\"https://api.ean.com/v3/properties/content?language=es-ES&include=address&property_id=12345\"},\"fr-FR\":{\"method\":\"GET\",\"href\":\"https://api.ean.com/v3/properties/content?language=fr-FR&include=address&property_id=12345\"}}}},\"ratings\":{\"property\":{\"rating\":\"3.5\",\"type\":\"Star\"},\"guest\":{\"count\":48382,\"overall\":\"3.1\",\"cleanliness\":\"4.2\",\"service\":\"1.1\",\"comfort\":\"4.3\",\"condition\":\"1.6\",\"location\":\"4.0\",\"neighborhood\":\"3.4\",\"quality\":\"3.4\",\"value\":\"2.2\",\"amenities\":\"1.4\",\"recommendation_percent\":\"73%\"}},\"location\":{\"coordinates\":{\"latitude\":37.15845,\"longitude\":-93.26838}},\"phone\":\"1-417-862-0153\",\"fax\":\"1-417-863-7249\",\"category\":{\"id\":\"1\",\"name\":\"Hotel\"},\"rank\":42,\"business_model\":{\"expedia_collect\":true,\"property_collect\":false,\"updated_expedia_collect\":true},\"dates\":{\"added\":\"1998-07-19T05:00:00.000Z\",\"updated\":\"2018-03-22T07:23:14.000Z\"},\"statistics\":{\"52\":{\"id\":\"52\",\"name\":\"Total number of rooms - 820\",\"value\":\"820\"},\"54\":{\"id\":\"54\",\"name\":\"Number of floors - 38\",\"value\":\"38\"}},\"chain\":{\"id\":\"-6\",\"name\":\"Hyatt Hotels\"},\"brand\":{\"id\":\"2209\",\"name\":\"Hyatt Place\"},\"supply_source\":\"expedia\"} {\"property_id\":\"67890\",\"name\":\"Test Property Name 2\",\"address\":{\"line_1\":\"123 Main St\",\"line_2\":\"Apt A\",\"city\":\"Springfield\",\"state_province_code\":\"MO\",\"state_province_name\":\"Missouri\",\"postal_code\":\"65804\",\"country_code\":\"US\",\"obfuscation_required\":true,\"localized\":{\"links\":{\"es-ES\":{\"method\":\"GET\",\"href\":\"https://api.ean.com/v3/properties/content?language=es-ES&include=address&property_id=67890\"},\"de-DE\":{\"method\":\"GET\",\"href\":\"https://api.ean.com/v3/properties/content?language=de-DE&include=address&property_id=67890\"}}}},\"ratings\":{\"property\":{\"rating\":\"3.5\",\"type\":\"Star\"},\"guest\":{\"count\":7651,\"overall\":\"4.3\",\"cleanliness\":\"4.2\",\"service\":\"1.1\",\"comfort\":\"4.3\",\"condition\":\"1.6\",\"location\":\"4.0\",\"neighborhood\":\"3.4\",\"quality\":\"3.4\",\"value\":\"2.2\",\"amenities\":\"1.4\",\"recommendation_percent\":\"80%\"}},\"location\":{\"coordinates\":{\"latitude\":37.15845,\"longitude\":-93.26838}},\"phone\":\"1-417-862-0153\",\"fax\":\"1-417-863-7249\",\"category\":{\"id\":\"1\",\"name\":\"Hotel\"},\"rank\":42,\"business_model\":{\"expedia_collect\":true,\"property_collect\":true,\"updated_expedia_collect\":false},\"dates\":{\"added\":\"1998-07-20T05:00:00.000Z\",\"updated\":\"2018-03-22T13:33:17.000Z\"},\"statistics\":{\"52\":{\"id\":\"52\",\"name\":\"Total number of rooms - 820\",\"value\":\"820\"},\"54\":{\"id\":\"54\",\"name\":\"Number of floors - 38\",\"value\":\"38\"}},\"chain\":{\"id\":\"-5\",\"name\":\"Hilton Worldwide\"},\"brand\":{\"id\":\"358\",\"name\":\"Hampton Inn\"},\"supply_source\":\"expedia\"} ```
    # @param accept [String] Specifies the response format that the client would like to receive back. This must be &#x60;application/json&#x60;.
    # @param accept_encoding [String] Specifies the response encoding that the client would like to receive back. This must be &#x60;gzip&#x60;.
    # @param user_agent [String] The &#x60;User-Agent&#x60; header string from the customer&#39;s request, as captured by your integration. If you are building an application then the &#x60;User-Agent&#x60; value should be &#x60;{app name}/{app version}&#x60;.
    # @param language [String] Desired language for the response as a subset of BCP47 format that only uses hyphenated pairs of two-digit language and country codes. Use only ISO 639-1 alpha-2 language codes and ISO 3166-1 alpha-2 country codes. See [https://www.w3.org/International/articles/language-tags/](https://www.w3.org/International/articles/language-tags/)  Language Options: [https://developers.expediagroup.com/docs/rapid/resources/reference/language-options](https://developers.expediagroup.com/docs/rapid/resources/reference/language-options)
    # @param supply_source [String] Options for which supply source you would like returned in the content response. This parameter may only be supplied once and will return all properties that match the requested supply source. An error is thrown if the parameter is provided multiple times.   * &#x60;expedia&#x60; - Standard Expedia supply.   * &#x60;vrbo&#x60; - VRBO supply - This option is restricted to partners who have VRBO supply enabled for their profile. See [Vacation Rentals](https://developers.expediagroup.com/docs/rapid/lodging/vacation-rentals) for more information.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_session_id Insert your own unique value for each user session, beginning with the first API call. Continue to pass the same value for each subsequent API call during the user&#39;s session, using a new value for every new customer session.&lt;br&gt; Including this value greatly eases EPS&#39;s internal debugging process for issues with partner requests, as it explicitly links together request paths for individual user&#39;s session.
    # @option opts [String] :billing_terms This parameter is to specify the terms of how a resulting booking should be billed. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :partner_point_of_sale This parameter is to specify what point of sale is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :payment_terms This parameter is to specify what terms should be used when being paid for a resulting booking. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :platform_name This parameter is to specify what platform is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @return [GetPropertyContent200ResponseValueAddressLocalizedLinksValue]
    def get_property_catalog_file(accept, accept_encoding, user_agent, language, supply_source, opts = {})
      data, _status_code, _headers = get_property_catalog_file_with_http_info(accept, accept_encoding, user_agent, language, supply_source, opts)
      data
    end

    # Property Catalog File
    # Returns a link to download the master list of EPS&#39;s active properties in the requested language. The response includes high-level details about each property.  &lt;br&gt;This file is in JSONL format and is gzipped. The schema of each JSON object in the JSONL file is a subset of the schema of each JSON object from the Property Content call. The subset of fields included are:    * property_id   * name   * address   * ratings   * location   * phone   * fax   * category   * rank   * business_model   * dates   * statistics   * chain   * brand   * supply_source  &lt;br&gt;Example of a JSONL file with 2 properties: &#x60;&#x60;&#x60; {\&quot;property_id\&quot;:\&quot;12345\&quot;,\&quot;name\&quot;:\&quot;Test Property Name\&quot;,\&quot;address\&quot;:{\&quot;line_1\&quot;:\&quot;123 Main St\&quot;,\&quot;line_2\&quot;:\&quot;Apt A\&quot;,\&quot;city\&quot;:\&quot;Springfield\&quot;,\&quot;state_province_code\&quot;:\&quot;MO\&quot;,\&quot;state_province_name\&quot;:\&quot;Missouri\&quot;,\&quot;postal_code\&quot;:\&quot;65804\&quot;,\&quot;country_code\&quot;:\&quot;US\&quot;,\&quot;obfuscation_required\&quot;:false,\&quot;localized\&quot;:{\&quot;links\&quot;:{\&quot;es-ES\&quot;:{\&quot;method\&quot;:\&quot;GET\&quot;,\&quot;href\&quot;:\&quot;https://api.ean.com/v3/properties/content?language&#x3D;es-ES&amp;include&#x3D;address&amp;property_id&#x3D;12345\&quot;},\&quot;fr-FR\&quot;:{\&quot;method\&quot;:\&quot;GET\&quot;,\&quot;href\&quot;:\&quot;https://api.ean.com/v3/properties/content?language&#x3D;fr-FR&amp;include&#x3D;address&amp;property_id&#x3D;12345\&quot;}}}},\&quot;ratings\&quot;:{\&quot;property\&quot;:{\&quot;rating\&quot;:\&quot;3.5\&quot;,\&quot;type\&quot;:\&quot;Star\&quot;},\&quot;guest\&quot;:{\&quot;count\&quot;:48382,\&quot;overall\&quot;:\&quot;3.1\&quot;,\&quot;cleanliness\&quot;:\&quot;4.2\&quot;,\&quot;service\&quot;:\&quot;1.1\&quot;,\&quot;comfort\&quot;:\&quot;4.3\&quot;,\&quot;condition\&quot;:\&quot;1.6\&quot;,\&quot;location\&quot;:\&quot;4.0\&quot;,\&quot;neighborhood\&quot;:\&quot;3.4\&quot;,\&quot;quality\&quot;:\&quot;3.4\&quot;,\&quot;value\&quot;:\&quot;2.2\&quot;,\&quot;amenities\&quot;:\&quot;1.4\&quot;,\&quot;recommendation_percent\&quot;:\&quot;73%\&quot;}},\&quot;location\&quot;:{\&quot;coordinates\&quot;:{\&quot;latitude\&quot;:37.15845,\&quot;longitude\&quot;:-93.26838}},\&quot;phone\&quot;:\&quot;1-417-862-0153\&quot;,\&quot;fax\&quot;:\&quot;1-417-863-7249\&quot;,\&quot;category\&quot;:{\&quot;id\&quot;:\&quot;1\&quot;,\&quot;name\&quot;:\&quot;Hotel\&quot;},\&quot;rank\&quot;:42,\&quot;business_model\&quot;:{\&quot;expedia_collect\&quot;:true,\&quot;property_collect\&quot;:false,\&quot;updated_expedia_collect\&quot;:true},\&quot;dates\&quot;:{\&quot;added\&quot;:\&quot;1998-07-19T05:00:00.000Z\&quot;,\&quot;updated\&quot;:\&quot;2018-03-22T07:23:14.000Z\&quot;},\&quot;statistics\&quot;:{\&quot;52\&quot;:{\&quot;id\&quot;:\&quot;52\&quot;,\&quot;name\&quot;:\&quot;Total number of rooms - 820\&quot;,\&quot;value\&quot;:\&quot;820\&quot;},\&quot;54\&quot;:{\&quot;id\&quot;:\&quot;54\&quot;,\&quot;name\&quot;:\&quot;Number of floors - 38\&quot;,\&quot;value\&quot;:\&quot;38\&quot;}},\&quot;chain\&quot;:{\&quot;id\&quot;:\&quot;-6\&quot;,\&quot;name\&quot;:\&quot;Hyatt Hotels\&quot;},\&quot;brand\&quot;:{\&quot;id\&quot;:\&quot;2209\&quot;,\&quot;name\&quot;:\&quot;Hyatt Place\&quot;},\&quot;supply_source\&quot;:\&quot;expedia\&quot;} {\&quot;property_id\&quot;:\&quot;67890\&quot;,\&quot;name\&quot;:\&quot;Test Property Name 2\&quot;,\&quot;address\&quot;:{\&quot;line_1\&quot;:\&quot;123 Main St\&quot;,\&quot;line_2\&quot;:\&quot;Apt A\&quot;,\&quot;city\&quot;:\&quot;Springfield\&quot;,\&quot;state_province_code\&quot;:\&quot;MO\&quot;,\&quot;state_province_name\&quot;:\&quot;Missouri\&quot;,\&quot;postal_code\&quot;:\&quot;65804\&quot;,\&quot;country_code\&quot;:\&quot;US\&quot;,\&quot;obfuscation_required\&quot;:true,\&quot;localized\&quot;:{\&quot;links\&quot;:{\&quot;es-ES\&quot;:{\&quot;method\&quot;:\&quot;GET\&quot;,\&quot;href\&quot;:\&quot;https://api.ean.com/v3/properties/content?language&#x3D;es-ES&amp;include&#x3D;address&amp;property_id&#x3D;67890\&quot;},\&quot;de-DE\&quot;:{\&quot;method\&quot;:\&quot;GET\&quot;,\&quot;href\&quot;:\&quot;https://api.ean.com/v3/properties/content?language&#x3D;de-DE&amp;include&#x3D;address&amp;property_id&#x3D;67890\&quot;}}}},\&quot;ratings\&quot;:{\&quot;property\&quot;:{\&quot;rating\&quot;:\&quot;3.5\&quot;,\&quot;type\&quot;:\&quot;Star\&quot;},\&quot;guest\&quot;:{\&quot;count\&quot;:7651,\&quot;overall\&quot;:\&quot;4.3\&quot;,\&quot;cleanliness\&quot;:\&quot;4.2\&quot;,\&quot;service\&quot;:\&quot;1.1\&quot;,\&quot;comfort\&quot;:\&quot;4.3\&quot;,\&quot;condition\&quot;:\&quot;1.6\&quot;,\&quot;location\&quot;:\&quot;4.0\&quot;,\&quot;neighborhood\&quot;:\&quot;3.4\&quot;,\&quot;quality\&quot;:\&quot;3.4\&quot;,\&quot;value\&quot;:\&quot;2.2\&quot;,\&quot;amenities\&quot;:\&quot;1.4\&quot;,\&quot;recommendation_percent\&quot;:\&quot;80%\&quot;}},\&quot;location\&quot;:{\&quot;coordinates\&quot;:{\&quot;latitude\&quot;:37.15845,\&quot;longitude\&quot;:-93.26838}},\&quot;phone\&quot;:\&quot;1-417-862-0153\&quot;,\&quot;fax\&quot;:\&quot;1-417-863-7249\&quot;,\&quot;category\&quot;:{\&quot;id\&quot;:\&quot;1\&quot;,\&quot;name\&quot;:\&quot;Hotel\&quot;},\&quot;rank\&quot;:42,\&quot;business_model\&quot;:{\&quot;expedia_collect\&quot;:true,\&quot;property_collect\&quot;:true,\&quot;updated_expedia_collect\&quot;:false},\&quot;dates\&quot;:{\&quot;added\&quot;:\&quot;1998-07-20T05:00:00.000Z\&quot;,\&quot;updated\&quot;:\&quot;2018-03-22T13:33:17.000Z\&quot;},\&quot;statistics\&quot;:{\&quot;52\&quot;:{\&quot;id\&quot;:\&quot;52\&quot;,\&quot;name\&quot;:\&quot;Total number of rooms - 820\&quot;,\&quot;value\&quot;:\&quot;820\&quot;},\&quot;54\&quot;:{\&quot;id\&quot;:\&quot;54\&quot;,\&quot;name\&quot;:\&quot;Number of floors - 38\&quot;,\&quot;value\&quot;:\&quot;38\&quot;}},\&quot;chain\&quot;:{\&quot;id\&quot;:\&quot;-5\&quot;,\&quot;name\&quot;:\&quot;Hilton Worldwide\&quot;},\&quot;brand\&quot;:{\&quot;id\&quot;:\&quot;358\&quot;,\&quot;name\&quot;:\&quot;Hampton Inn\&quot;},\&quot;supply_source\&quot;:\&quot;expedia\&quot;} &#x60;&#x60;&#x60;
    # @param accept [String] Specifies the response format that the client would like to receive back. This must be &#x60;application/json&#x60;.
    # @param accept_encoding [String] Specifies the response encoding that the client would like to receive back. This must be &#x60;gzip&#x60;.
    # @param user_agent [String] The &#x60;User-Agent&#x60; header string from the customer&#39;s request, as captured by your integration. If you are building an application then the &#x60;User-Agent&#x60; value should be &#x60;{app name}/{app version}&#x60;.
    # @param language [String] Desired language for the response as a subset of BCP47 format that only uses hyphenated pairs of two-digit language and country codes. Use only ISO 639-1 alpha-2 language codes and ISO 3166-1 alpha-2 country codes. See [https://www.w3.org/International/articles/language-tags/](https://www.w3.org/International/articles/language-tags/)  Language Options: [https://developers.expediagroup.com/docs/rapid/resources/reference/language-options](https://developers.expediagroup.com/docs/rapid/resources/reference/language-options)
    # @param supply_source [String] Options for which supply source you would like returned in the content response. This parameter may only be supplied once and will return all properties that match the requested supply source. An error is thrown if the parameter is provided multiple times.   * &#x60;expedia&#x60; - Standard Expedia supply.   * &#x60;vrbo&#x60; - VRBO supply - This option is restricted to partners who have VRBO supply enabled for their profile. See [Vacation Rentals](https://developers.expediagroup.com/docs/rapid/lodging/vacation-rentals) for more information.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_session_id Insert your own unique value for each user session, beginning with the first API call. Continue to pass the same value for each subsequent API call during the user&#39;s session, using a new value for every new customer session.&lt;br&gt; Including this value greatly eases EPS&#39;s internal debugging process for issues with partner requests, as it explicitly links together request paths for individual user&#39;s session.
    # @option opts [String] :billing_terms This parameter is to specify the terms of how a resulting booking should be billed. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :partner_point_of_sale This parameter is to specify what point of sale is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :payment_terms This parameter is to specify what terms should be used when being paid for a resulting booking. If this field is needed, the value for this will be provided to you separately.
    # @option opts [String] :platform_name This parameter is to specify what platform is being used to shop and book. If this field is needed, the value for this will be provided to you separately.
    # @return [Array<(GetPropertyContent200ResponseValueAddressLocalizedLinksValue, Integer, Hash)>] GetPropertyContent200ResponseValueAddressLocalizedLinksValue data, response status code and response headers
    def get_property_catalog_file_with_http_info(accept, accept_encoding, user_agent, language, supply_source, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContentApi.get_property_catalog_file ...'
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling ContentApi.get_property_catalog_file"
      end
      # verify the required parameter 'accept_encoding' is set
      if @api_client.config.client_side_validation && accept_encoding.nil?
        fail ArgumentError, "Missing the required parameter 'accept_encoding' when calling ContentApi.get_property_catalog_file"
      end
      # verify the required parameter 'user_agent' is set
      if @api_client.config.client_side_validation && user_agent.nil?
        fail ArgumentError, "Missing the required parameter 'user_agent' when calling ContentApi.get_property_catalog_file"
      end
      # verify the required parameter 'language' is set
      if @api_client.config.client_side_validation && language.nil?
        fail ArgumentError, "Missing the required parameter 'language' when calling ContentApi.get_property_catalog_file"
      end
      # verify the required parameter 'supply_source' is set
      if @api_client.config.client_side_validation && supply_source.nil?
        fail ArgumentError, "Missing the required parameter 'supply_source' when calling ContentApi.get_property_catalog_file"
      end
      # resource path
      local_var_path = '/files/properties/catalog'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'language'] = language
      query_params[:'supply_source'] = supply_source
      query_params[:'billing_terms'] = opts[:'billing_terms'] if !opts[:'billing_terms'].nil?
      query_params[:'partner_point_of_sale'] = opts[:'partner_point_of_sale'] if !opts[:'partner_point_of_sale'].nil?
      query_params[:'payment_terms'] = opts[:'payment_terms'] if !opts[:'payment_terms'].nil?
      query_params[:'platform_name'] = opts[:'platform_name'] if !opts[:'platform_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
[...]
